{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .form_login {
            width: 100%;
            max-width: 800px;
            padding: 15px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block title %}Register{% endblock %}
{% block nav %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('offre_welcome') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_site') }}">Qui sommes-nous?</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <form method="post" action="" class="form_login">
        <div class="card d-grid gap-2 d-md-flex justify-content-md-center">
            <div class="card-header d-flex justify-content-center">
                <h3>Inscription</h3>
            </div>
            <div class="card-body bg-secondary bg-opacity-25">
                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col">
                        <div class="mb-3 row ">
                            <label for="nom" class="col-sm-3 col-form-label">Nom</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.nom) }}
                                {# <input type="text" class="form-control" id="nom" name="nom"> #}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="login" class="col-sm-3 col-form-label">Login</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.login) }}
                                {# <input type="text" class="form-control" id="login" name="login"> #}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="metier" class="col-sm-3 col-form-label">Métier</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.metier) }}
                                {# <input type="text" class="form-control" id="metier" name="metier"> #}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.email) }}
                                {# <input type="text" class="form-control" id="email" name="email" #}
                                {# value="email@example.com"> #}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            {# <label for="mot_de_passe" class="col-sm-3 col-form-label">Mot de passe</label> #}
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.password) }}
                                {# <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe"> #}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="prenom" class="col-sm-3 col-form-label">Prénom</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.prenom) }}
                                {# <input type="text" class="form-control" id="prenom" name="prenom"> #}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="date_de_naissance" class="col-sm-3 col-form-label">Date de naissance</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.date_de_naissance) }}
                                {# <input type="date" class="form-control" id="date_de_naissance"
                               name="date_de_naissance"> #}
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="adresse" class="col-sm-3 col-form-label">Adresse</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.adresse) }}
                                {# <input type="text" class="form-control" id="adresse" name="adresse"> #}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="code_postal" class="col-sm-3 col-form-label">Code postal</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.code_postal) }}
                                {# <input type="text" class="form-control" id="code_postal" name="code_postal"> #}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="ville" class="col-sm-3 col-form-label">Ville</label>
                            <div class="col-sm-9">
                                {{ form_widget(registrationForm.ville) }}
                                {# <input type="text" class="form-control" id="ville" name="ville"> #}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    {# <a href="{{ path('main_accueil') }}" ><button type="button" class="btn btn-success">Enregistrer</button></a> #}
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <button type="button" class="btn btn-primary">Annuler</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>

        </div>
    </form>

{% endblock %}
