{% extends 'base.html.twig' %}

{% block title %}nouvelle offre{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .form_offre {
            width: 100%;
            padding: 15px;
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <form action="" method="POST" class="form_offre">
        <div class="card bg-secondary bg-opacity-25  d-grid gap-2 d-md-flex justify-content-md-center">
            <div class="card-header d-flex justify-content-center">
                <h3>Nouvelle offre d'emploi</h3>
            </div>
            <div class="card-body bg-secondary bg-opacity-25">
                {{ form_start(offreForm) }}
                <div class="row">
                    <div class="col">
                        <div class="row ">
                            <label for="intitule" class="col-sm-4 col-form-label">Intitulé du poste :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.intitule) }}
                            </div>
                        </div>
                        <div class="row">
                            <label for="date_de_publication" class="col-sm-4 col-form-label">Date de publication :</label>
                            <div class="col-sm-8">
{#                                {{ form_widget(offreForm.date_de_publication|date("m/d/Y")) }}#}
                                {{ form_widget(offreForm.date_de_publication)}}
                            </div>
                        </div>
                        <div class="row">
                            <label for="adresse" class="col-sm-4 col-form-label">Adresse :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.adresse) }}
                            </div>
                        </div>
                        <div class="row">
                            <label for="code_postal" class="col-sm-4 col-form-label">Code postal :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.codePostal) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="genre col-form-label">Genre :</label>
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.genre) }}
                            </div>
                        </div>
                        <div class="row">
                            <label for="salaire" class="col-sm-4 col-form-label">Salaire :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.salaire) }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label for="employeur" class="col-sm-4 col-form-label">Employeur :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.employeur) }}
                            </div>
                        </div>
                        <div class="row">
                            <label for="nature_contrat" class="col-sm-4 col-form-label">Nature du contrat :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.nature_contrat) }}
                            </div>
                        </div>

                        <div class="row">
                            <label for="adresse" class="col-sm-4 col-form-label">Complement d'adresse :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.complement_adresse) }}
                            </div>
                        </div>
                        <div class="row">
                            <label for="ville" class="col-sm-4 col-form-label">Ville :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.ville) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="rythme col-form-label">Rythme :</label>
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.rythme) }}
                            </div>
                        </div>
                        <div class="row">
                            <label for="periode" class="col-sm-4 col-form-label">Période :</label>
                            <div class="col-sm-8">
                                {{ form_widget(offreForm.periode) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <label for="description col-form-label">Description :</label>
                        {{ form_widget(offreForm.description) }}
                </div>
                <div class=" d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <button type="button" class="btn btn-primary">Annuler</button>
                </div>
            </div>
        </div>
        {{ form_end(offreForm) }}
    </form>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
// you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        wwindow.onload = () => {
            let ville = document.querySelector("#ville");
            ville.addEventListener("change", function () {
                let form = this.closed("form");
                let data = this.nom = +"=" + this.value;

                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded;",
                        charset: utf - 8,
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#code_postal")
                        document.querySelector("#code_postal").replaceWith(nouveauSelect);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            });
        }
    </script>
{% endblock %}